{% extends "mybase.html" %} <!--this means that you are extending the base template -->
{% block main %} <!-- this is the name of the block below -->

 <h1>₿locktrust: In ₿lock-Data We Trust </h1>
 <h3>Bring transparency to ₿itcoin transactions</h3>
{% for id in ids %}
        <h3>{{id}}</h3>
        <div id="{{id}}"></div>
    {% endfor %}
 <p style="font-size:16px;">
      Wallet address: <input type="text" size="80" name="wallet" value="1HB5XMLmzFVj8ALj6mfBsbifRoD4miY36v">
</p>
 <button class="button" href=# id="calculate-incoming">Plot Incoming Bitcoins</button>

<!-- Plotly chart will be drawn inside this DIV -->
<div id="chart1"></div>

<button class="button" href=# id="calculate-outgoing">Plot Outgoing Bitcoins</button>
<!-- Plotly chart will be drawn inside this DIV -->
<div id="chart2"></div>

{% endblock %}


